@font-face {
    font-family: 'Courier';
    font-style: normal;
    font-weight: 200;
    src: local('Courier'), local('Courier'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
  }
  